<div class="content">

  <mat-card [class.on]="showCat"
            [class.off]="!showCat">
    <mat-card-title-group>
      <mat-card-title>ConfigCat</mat-card-title>
      <mat-card-subtitle>Deploy on fridays too...</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      <p>
        Manage your features and configurations without actually deploying new code.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="navigate('https://configcat.com/')">CONFIGCAT.COM</button>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-title-group>
      <mat-card-title>Split</mat-card-title>
      <mat-card-subtitle>Reduce risk of Continuous Delivery</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      <p>
        Split powers your product decisions
        with a unified solution for feature flagging
        and experimentation.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="navigate('https://www.split.io/')">SPLIT.IO</button>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-title-group>
      <mat-card-title>Bullet Train</mat-card-title>
      <mat-card-subtitle>Release features with confidence</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      <p>
        Bullet Train lets you manage feature flags and remote config across web, mobile and server side applications.
        Deliver true Continuous Integration. Get builds out faster. Control who has access to new features.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="navigate('https://bullet-train.io/')">BULLET-TRAIN.IO</button>
    </mat-card-actions>
  </mat-card>
  <br>

</div>
